{% extends "base.html" %}
{% load static %}
{% block content1 %}
<style>
    .jumbtron {
        background-color: #002244;
        padding: 20px;
        border-radius: 10px;
    }


    .display4 {
        color: #eef3f8;
        font-size: 24px;
    }

    .lead {
        font-size: 18px;
        color: #28a745;
    }
</style>
<div class="row">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">-- OOPS and DSA by Great Learning -- </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Python and Sql for Data Science by ScalerTopics </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Introduction to Machine Learning and AI by edX </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Python Skills Test by Hackerrank </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> NPTEL Certification in Cloud Computing-2025 </h1>
    </div>
    <!-- <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">  </h1>
    </div> -->

</div>
</style>

{% endblock content1 %}